<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome to the CSC326 CoffeeMaker</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
   <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body>
	<h1>Coffee Maker</h1>
	<h2>Available Options</h2>
	<ul>
		<li><a href="registry.html">Register</a></li>
	    <li><a href="login.html"> Login</a></li>



	</ul>
</body>

</html>