<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Place an Order</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
   	<link th:href="@{/css/app.css}" rel="stylesheet" />
	<style>
		.alert-box {
			border: 2px outset black;
			border-radius: 15px;
			width: 250px;
			margin: 0 auto;
			text-align: center;
			padding: 10px;
			background-color: white;
			color: red;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.alert-box2 {
			border: 2px outset black;
			border-radius: 15px;
			width: 200px;
			margin: 0 auto;
			text-align: center;
			padding: 10px;
			background-color: white;
			color: green;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.alert-box button {
			background-color: white;
			border: 1px solid black;
			border-radius: 2px;
			padding: 5px 10px;
			cursor: pointer;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		html,
		body {
			height: 100%;
			width: 100%;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.div1{
			width: 90%;
			height: 90%;
			overflow: auto;
		}
	</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>


	<script th:inline="javascript">
		/*<![CDATA[*/

		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function ($scope, $http, $q, $window) {
			$http.get("/api/v1/recipes").then(function (response) {
				$scope.availableRecipes = response.data;
				console.log(response.data);
			});

			 
       		 $scope.userId = /*[[${userId}]]*/

			console.log("Check id", $scope.userId);
			
			
				//( BASE_PATH + "/users/{id}" )
				$http.get("/api/v1/users/"+ $scope.userId).then(function (response) {
				$scope.user = response.data;
				console.log("Check User:",response.data);
			});
				

			
			$scope.isNull = false;
			$scope.totalAmount = 0;
			$scope.amtPaid = 0;
			$scope.recipeAmount = 0;
			$scope.recipePrices = {};


			$scope.order = {
				recipes: [],
				payment: 0,
				price: 0
			};



			$scope.placeOrder = function () {

				$scope.submissionFailurePayment = false;
				$scope.submissionSuccess = false;
				$scope.submissionFailureRecipe = false;
				$scope.order.payment = $scope.amtPaid;
				$scope.order.price = $scope.totalAmount;
				console.log($scope.order.payment);
				if ($scope.order.payment < $scope.totalAmount) {
					$scope.submissionFailurePayment = true;
				}
				if ($scope.order.recipes.length <= 0) {
					$scope.submissionFailureRecipe = true;
				}
				else {
					console.log($scope.order);
					//BASE_PATH + "/users/{userID}/orders"
					$http.post("/api/v1/users/"+$scope.userId+"/orders/", $scope.order).then(
						function (response) {

							$scope.change = $scope.order.payment - $scope.totalAmount;
							console.log($scope.order);
							//console.log($scope.order.payment);
							$scope.submissionSuccess = true;



						}, function (errResponse) {
							console.log(errResponse);
							$scope.submissionFailure = true;
							$scope.error = "Error while placing an order";
						});
				}




			}


			$scope.calculateTotal = function () {
				var total = 0;
				$scope.order.recipes = $scope.availableRecipes.filter(function (recipe) {
					//$scope.order.recipes.push(recipe.selected);
					return recipe.selected;
				});
				//console.log("Recipes for the Order:", recipes);
				$scope.order.recipes.forEach(function (recipe) {
					total = total + recipe.price;
				});
				//console.log(total);
				//return total;
				if (total == null || total == NaN || isNaN(total)) {
					$scope.isNull = true;
				}
				$scope.totalAmount = total;
				//$scope.order.price = total;

			};

			$scope.updateRecipeAmount = function (recipe, amount) {

				if (amount >= 1 && amount != null) {
					$scope.recipePrices[recipe.id] = amount * recipe.price;
				}
				//alert("Amount Updated");
				console.log($scope.recipePrices)
			}




		});

		/*]]>*/
	</script>
	<div layout:fragment="content" class="generic-container ng-cloak" ng-app="myApp" ng-controller="recipesCtrl">
		<h1 align="center">Coffee Recipes</h1>
		<div class = "div1">
			<ul>
				<li ng-repeat="recipe in availableRecipes"><label>{{recipe.name}}
						<input type="checkbox" ng-model="recipe.selected" name="name" value="{{recipe.name}}" />
						<!--
						<button ng-click = "updateRecipeAmount(recipe, recipeAmount)">Update Amount </button>
						-->
					</label></li>
			</ul>

			<button class="btn btn-primary btn-sm" ng-click="calculateTotal()">Preview Order </button>


			<div ng-show="isNull">
				<div class="alert-box">
					<h5>Error!</h5>
					<p>Selected Recipes must be at least "1" unit. Try Again!</p>
					<hr color="black">

					<button onclick="window.location.href='makecoffee.html';">Okay</button>
				</div>
			</div>

			<h5>Subtotal: ${{ totalAmount }}</h5>

			<br />

			<br /> <label for="payment">Enter payment</label> <input type="number" ng-model="amtPaid" name="payment"
				required="true" /> <br /> <input type="submit" ng-click="placeOrder()" value="Place Order"
				class="btn btn-primary btn-sm" /> <br />


			<div ng-show="submissionFailurePayment">
				<div class="alert-box">
					<h5>Error!</h5>
					<p>Payment insufficient! Try Again</p>
					<hr color="black">

					<button onclick="window.location.href='makecoffee.html';">Okay</button>
				</div>
			</div>
			<div ng-show="submissionFailureRecipe">
				<div class="alert-box">
					<h5>Error!</h5>
					<p>Select at least one recipe</p>
					<hr color="black">
					<button onclick="window.location.href='makecoffee.html';">Okay</button>
				</div>
			</div>

			<div ng-show="submissionSuccess">
				<div class="alert-box2">
					<h3>Receipt</h3>
					<h5>Success! Order Saved</h5>
					<p>Order was succesfully saved.</p><br>
					<p> Available Change : ${{change}} </p>
					<hr color="black">
					<button onclick="window.location.href='customer.html';">Done</button>
				</div>
			</div>
			<br /> <a href="/customer/home">Home</a>
		</div>

	</div>

</body>

</html>