<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Staff Role</h1>
	<h2>Commands</h2>
	<ul>
		<li><a href="inventory.html">Update Inventory</a></li>
		<li><a href="recipe.html">Add a Recipe</a></li>
		<li><a href="editrecipe.html">Edit Recipe</a></li>
		<li><a href="deleterecipe.html">Delete Recipe</a></li>
		<li><a href="vieworder.html">View Orders</a></li>
	</ul>
</body>
</html>
